.container {
  width: 100%;
  height: 100%;
  --s: 140px; /* control the size */

  --_g: #0000 52%, #170409 /* first color */ 54% 57%, #0000 59%;
  background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
      calc(var(--s) / 2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
      0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #67917a; /* second color */
  background-size: calc(var(--s) / 4.667) var(--s),
    var(--s) calc(var(--s) / 4.667);
}

 
 button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
 }
 
 button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 button:main, button:focus {
  user-select: auto;
 }
 
 button:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 button:disabled {
  cursor: auto;
 }
 
 button:active:after {
  border-width: 0 0 0px;
 }
 
 button:active {
  padding-bottom: 10px;
 }

 a {
  color:white;
  text-decoration: none;
 }
 */
 body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.title {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}


#pagewrap{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
 }
 
 .gallery{
  width: 100%;
  margin: 0 auto;
  padding: 10vh 5vh;
  display: flex;
  flex-wrap: wrap;
 }
 
 
 .image{
  width: 28%;
  border: 1.5px solid #ccc;
  padding: 10px;
  margin: 2% 1.5%;
  background-color: white;
 }
 
 .image img{
  max-width: 100%;
  margin: 0 auto;
 }
 
 .image:hover{
  box-shadow: 0 1px 30px rgba(0,0,0,.3);
  transform: scale(1.10);
  border: none;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  z-index: 1;
 }
 
 .image p{
  padding: 10px;
 }

 

