<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="../interface.css">
    <script src="../Scripts/interface.js"></script>
</head>
<body>

    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Choose Your pseudo</h2> 
                <input type="text" id="pseudo" required>
                <button id="sub" onclick="closePopup()">Ok</button>
        </div>
    </div>

<div class="container">
      
    <div class="container">
        <img src="../Images/sn.png" alt="Snake Image" style="display: block; margin: 0 auto;">
        <h1 class="title">Snake Game</h1>

        <!-- <form action="">
            <label for="name">Name:</label>
            <input type="text" id="pseudo" name="pseudo" required>
            <input type="submit" value="Submit">
        </form> -->
<h1 class="g">Game Mode </h1>
        <div id="pagewrap">
            <div class="gallery">
             <article class="image">
              <img src="../Images/classique.jpeg"/>
              <a href="index.html"><button >Classique</button></a>
             </article>
          
             <article class="image">
              <img src="../Images/inverse.jpg"  />
              <a href="inverse.html"><button >Reverse</button></a>
          
             </article>
          
             <article class="image">
              <img src="../Images/infini.png"/>
              <a href="infini.html"><button >Infinty</button></a>

             </article>
          
             <article class="image">
              <img src="../Images/miror.png"  width="300px">
              <a href="mirroir.html"><button >Miror</button></a>
             </article>
          
             <article class="image">
              <img src="../Images/multi.jpg"/>
                <a href="multiFruit.html"><button >Multi Fruits</button></a>
             </article>
          
             <article class="image">
              <img src="../Images/vitesse.jpg"/>
              
                <a href="vitesse.html"><button >Speed</button></a>

             </article>


             <article class="image">
                <img src="../Images/wall.jpg" width="300px"/>
                
                    <a href="wall.html"><button >Wall</button></a>
               </article>
             
            </div>
           </div>
    </div>
</div>
</body>
</html>


   
