<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../interface.css">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="name">Name:</label>
        <input type="text" id="pseudo" name="pseudo" required>

        <button><a href="index.html">jeu de base</a></button><br>
        <button><a href="inverse.html">mode inverse</a></button><br>
        <button><a href="infini.html">infini</a></button><br>
        <button><a href="mirroir.html">mirroir</a></button><br>
        <button><a href="multiFruit.html">multiFruit</a></button><br>
        <button><a href="vitesse.html">vitesse</a></button><br>
        <button><a href="wall.html">wall</a></button><br>
      
        <input type="submit" value="Submit">
    </form>
</body>
</html>