<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="../interface.css">
</head>
<body>

    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Choose Your pseudo</h2> 
            <form action="">
                <input type="text" id="pseudo" name="pseudo" required>
                <span class="close-button" id="closeButton">&times;</span>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

<div class="container">
      
    <div class="container">
        <img src="../Images/sn.png" alt="Snake Image" style="display: block; margin: 0 auto;">
        <h1 class="title">Snake Game</h1>

        <div id="pagewrap">
            <div class="gallery">
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049388/img01_wqwpnu.jpg"/>
              <button><a href="index.html">Classique</a></button><br>
             </article>
          
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049389/img02_f4vcdt.jpg
          "/>
          <button><a href="inverse.html">mode inverse</a></button><br>
             </article>
          
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049386/img03_n0asvf.jpg"/>
              <button><a href="infini.html">infini</a></button><br>

             </article>
          
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049386/img04_iypkrg.jpg"/>
              <button><a href="mirroir.html">mirroir</a></button><br>
             </article>
          
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049386/img05_r60xhy.jpg"/>
              <button><a href="multiFruit.html">multiFruit</a></button><br>
             </article>
          
             <article class="image">
              <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049386/img06_ziqnpg.jpg"/>
              
                <button><a href="vitesse.html">vitesse</a></button><br>

             </article>


             <article class="image">
                <img src="https://res.cloudinary.com/dnroxbmjk/image/upload/v1462049386/img06_ziqnpg.jpg " width="300px"/>
                
                <button><a href="wall.html">wall</a></button><br>
  
               </article>
             
            </div>
           </div>
    </div>
</div>
</body>
</html>


   
